<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
      <a href="{% url 'home' %}" class="nav-link"><i class="nav-icon fas fa-tachometer-alt"></i> <p>Admin Dashboard</p></a>
    </li>
    <li class="nav-item">
      <a href="{% url 'staff-list' %}" class="nav-link"><i class="nav-icon fas fa-users"></i> <p>Staff Management</p></a>
    </li>
    <li class="nav-item">
      <a href="{% url 'student-list' %}" class="nav-link"><i class="nav-icon fas fa-user-graduate"></i> <p>Student Management</p></a>
    </li>
    <li class="nav-item">
      <a href="{% url 'system_settings_dashboard' %}" class="nav-link"><i class="nav-icon fas fa-cogs"></i> <p>System Settings</p></a>
    </li>
    <!-- Add more admin links as needed -->
  </ul>
</nav> 